#nav {
	float: right;
	margin: 0px;
	margin-top: 80px;
	padding: 7px 6px 0;
	line-height: 100%;
	border-radius: 2em;
	/*-webkit-border-radius: 2em;*/
	/*-moz-border-radius: 2em;*/
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	background: #8b8b8b; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#000000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2f2f2f,  #000000); /* for firefox 3.6+ */
	/*border: solid 1px #6d6d6d;*/
}
#nav li {
	z-index: 2100;
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}
/* main level link */
#nav a {
	font-weight: bold;
	color: #F36B0A;
	/*color: #e7e5e5;*/
	text-decoration: none;
	display: block;
	padding: 8px 20px;
	margin: 0;
	border-radius: 1.6em;
	/*-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;*/
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #2f2f2f; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2f2f2f,  #a1a1a1); /* for firefox 3.6+ */
	color: #444;
	/*border-top: solid 1px #f8f8f8;*/
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	/*background: #0399d4 !important; /* for non-css3 browsers */
	background: #F36B0A !important; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F36B0A', endColorstr='#F36B0A'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F36B0A), to(#F36B0A)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F36B0A,  #F36B0A) !important; /* for firefox 3.6+ */
	color: #fff !important;
	border-radius: 0;
	/*-webkit-border-radius: 0;
	-moz-border-radius: 0;*/
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
#nav ul {
	background: #ddd; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;*/
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
	border-top-left-radius:     9px;
	border-top-right-radius:     9px;
	/*-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;*/
	
}
#nav ul li:last-child > a {
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	/*-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;*/
	
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}
/*
 * end of nav style
 */
